{% extends 'base.html' %}

{% block title %}
{{ beast.name }}: Details
{% endblock %}

{% block content %}

<h1>Beast Details</h1>

  <div class="card">
    <div class="card-content">
    <span class="card-title">{{ beast.name }}</span>
    <p><b>Native to:</b> {{ beast.native }}</p>
    <p><b>Description:</b> {{ beast.description }}</p>
    <p><b>Size:</b> {{ beast.size }}</p>
    <p><b>Danger Level:</b>  {{ beast.danger }} 

    {% if beast.danger == 1 %}
        <em>(Boring)</em>
    {% elif beast.danger == 2 %}
        <em>(Harmless)</em>
    {% elif beast.danger == 3 %}
        <em>(Competent wizard should cope)</em>
    {% elif beast.danger == 4 %}
        <em>(Dangerous)</em>
    {% elif beast.danger == 5 %}
        <em>(Known wizard killer)</em>
    {% endif %}
    </p>
    </div>
  </div>

{% endblock %}