body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
 main {
  flex: 1 0 auto;
}

nav {
  background-color: #BA2801;
}

.page-footer {
  background-color: #BA2801;
}



/*
.nav-wrapper {
  display: flex;
  flex-wrap: wrap;
} */